
<h1 class="my-3">Addpatient </h1>
<form [formGroup]="addForm" (ngSubmit)="AddpatientForm()">

    <div class="my-2">
        <label> Name</label>
        <input formControlName='name' type="text" class="form-control my-2">
       <div *ngIf="addForm.get('name')?.errors !=null 
       &&addForm.get('name')?.touched" class="alert alert-danger mmt-2">
        <p *ngIf="addForm.get('name')?.errors?.['required'] ">Name is required</p>
        <p *ngIf="addForm.get('name')?.errors?.['minlength']"> minlength is 3</p>
        <p *ngIf="addForm.get('name')?.errors?.['maxlength']">Name maxlength is 10</p>
       </div>
    </div>
    <div class="my-2">
        <label> Age</label>
        <input formControlName='age' type="number" class="form-control my-2">
       <div *ngIf="addForm.get('age')?.errors !=null 
       &&addForm.get('name')?.touched" class="alert alert-danger mmt-2">
        <p *ngIf="addForm.get('age')?.errors?.['required'] ">Name is required</p>
        <p *ngIf="addForm.get('age')?.errors?.['minlength']"> minlength is 3</p>
        <p *ngIf="addForm.get('age')?.errors?.['maxlength']">Name maxlength is 10</p>
       </div>
    </div>
  
    <div class="my-2">
        <label> fileNo</label>
        <input formControlName='FileNo' type="number" class="form-control my-2">
       <div *ngIf="addForm.get('FileNo')?.errors !=null 
       &&addForm.get('name')?.touched" class="alert alert-danger mmt-2">
        <p *ngIf="addForm.get('FileNo')?.errors?.['required'] ">Name is required</p>
        <p *ngIf="addForm.get('FileNo')?.errors?.['minlength']"> minlength is 3</p>
        <p *ngIf="addForm.get('FileNo')?.errors?.['maxlength']">Name maxlength is 10</p>
       </div>
    </div>

    <div class="my-2">
        <label> phone</label>
        <input formControlName='phone' type="number" class="form-control my-2">
       <div *ngIf="addForm.get('phone')?.errors !=null 
       &&addForm.get('name')?.touched" class="alert alert-danger mmt-2">
        <p *ngIf="addForm.get('phone')?.errors?.['required'] ">phone is required</p>
        <p *ngIf="addForm.get('phone')?.errors?.['maxlength']">phone maxlength is 11</p>
       </div>
    </div>
    <div class="my-2">
        <label> male</label>
        <input type="radio" name="gender" value="male">
        <label>female</label>
        <input type="radio" name="gender" value="female">

        </div>
    
    
    
    
    
    <button class="btn btn-primary me-2" type="submit">save</button>

</form>