<h1 class="my-3">forget password</h1>
<form [formGroup]="forgetForm" (ngSubmit)="forgetloginForm()">
  <div class="my-2">
    <div class="my-2">
      <label> email</label>
      <input formControlName="email" type="email" class="form-control my-2" />
      <div
        *ngIf="
          forgetForm.get('email')?.errors != null &&
          forgetForm.get('email')?.touched
        "
        class="alert alert-danger mmt-2"
      >
        <p *ngIf="forgetForm.get('email')?.errors?.['required'] ">
          email is required
        </p>
        <p *ngIf="forgetForm.get('email')?.errors?.['minlength']">
          email is valid
        </p>
      </div>
    </div>
  </div>

  <div class="my-2">
    <label> New password</label>
    <input
      formControlemail="password"
      type="password"
      class="form-control my-2"
    />
    <div
      *ngIf="
        forgetForm.get('password')?.errors != null &&
        forgetForm.get('password')?.touched
      "
      class="alert alert-danger mmt-2"
    >
      <p *ngIf="forgetForm.get('password')?.errors?.['required'] ">
        password is required
      </p>
      <p *ngIf="forgetForm.get('password')?.errors?.['pattern']">
        minlength is 3
      </p>
    </div>
  </div>

  <button
    class="btn btn-primary me-2"
    type="submit"
    onclick="forgetloginForm()"
  >
    save
  </button>
</form>
